<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/Images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/Images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Images/favicons/manifest.json">
    <link rel="mask-icon" href="/Images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="OpenGridMap">
    <meta name="application-name" content="OpenGridMap">
    <meta name="msapplication-TileColor" content="#fcf0ec">
    <meta name="msapplication-TileImage" content="/Images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/Images/favicons/browserconfig.xml">

    <link rel="stylesheet" href="/stylesheets/main.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.ga_tracking_id }}');
    </script>
</head>
